# Ambientes virtuais e cache
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos temporários e do sistema
.DS_Store
*.log
*.bak

# Segredos e variáveis
.streamlit/secrets.toml
.env

# Dados gerados localmente
vectorstore/
nao_respondidas.csv

# Arquivos do VS Code (opcional)
.vscode/

# Ignorar arquivos das leis e planos
data/legal/*
data/planos/*

# Mas manter a estrutura das pastas
!data/legal/.gitkeep
!data/planos/.gitkeep